body{
    margin:0px;padding:0px;
    overflow-x:hidden;
    background-image:url("nuclie.jpg");
    background-size:cover;
    background-repeat:none;
}
@media(orientation:portrait){
    body{
        background-image:url("nuclie-m.jpg");
    }
}
.nav{
    width:100%;
    height:60px;
    background:linear-gradient(45deg,#08c0ff,cyan);
    position: fixed;border:none;color:white;font-size:20px;
}
input{
    border-radius:20px;
    text-align:center;
    background:linear-gradient(0deg,rgb(0,174,255),cyan);
    color:white;
}
#element1{
    position:relative;
    top:230px;
    width:70px;height:70px;
    font-size:30px;
    box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}
#element2{
    position:relative;
    top:230px;
    width:70px;height:70px;
    font-size:30px;
    box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}
#valence1{
    position:relative;
    top:180px;
    width:40px;height:40px;
}
#valence2{
    position:relative;
    top:180px;
    width:40px;height:40px;
}
#value{
    width:270px;height:70px;border-radius:5px;
    position: relative;top:100px;
    background:transparent;
    font-size:30px;
    background:linear-gradient(0deg,rgb(0,174,255),cyan);
    color:white;
}
.calculator{
    margin:auto;
    width:270px;height:auto;
}
.btn{
    position: relative;
    top:210px;
    width:300px;height:70px;
    background:linear-gradient(0deg,rgb(0,174,255),cyan);
    border:2px silver solid;color:white;font-size:20px;border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}

.nav{
    background:linear-gradient(45deg,#08c0ff,cyan);
    width:100%;height:60px;
    font-size:25px;font-family:cursive;color:white;
    border:none;
    box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
    position: fixed;top:0px;
    text-align: center;
}
.back{
    width:30px;
    position:fixed;
    top:15px;left:10px;
    background:transparent;	
}
.clear{
    width:70px;height:30px;border-radius:10px;border:2px solid silver;color:white;
    background:linear-gradient(45deg,#ff0066,#ff0066,pink);
    position:fixed;top:5px;right:2px;
}
.cright{
    position:absolute;bottom:-10px;left:0px;
    color:white;
}