body{
	background-color:white;
	margin:0px;
}
.light{
	color:black;
	background-color:white;
}
.dark{
	color:white;
	background-color:#3d3d3d;
}
html{overflow-x:hidden;}
p{
	font-size:20px;
}
img{
	width:400px;
}
.nav{
	background:linear-gradient(45deg,cyan,#07bb07);
	width:100%;height:60px;
	font-size:30px;font-family:cursive;color:white;
	border:none;
	box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
	position: fixed;top:0px;
	text-align: center;
}
.back{
	width:30px;
	position:fixed;
	top:15px;left:10px;
	background:transparent;	
}
#srch{
	width:250px;height:30px;
	border-radius:20px;
}
.btn{
	width:30px;
	position:relative;
	top:10px;left:3px;
}
.sbox{
	width:310px;border-radius:50px;height:45px;border:2px solid black;
	background:linear-gradient(45deg,cyan,#07bb07);
	box-shadow:2px 2px silver;
}
.name{
	background:linear-gradient(45deg,cyan,#07bb07);
	width:300px;height:50px;
	font-size:30px;font-family:cursive;color:white;
	border:2px solid black;border-radius:20px;
	box-shadow:2px 2px silver;
}
.epr{
	width:400px;height:50px;
	font-size:30px;font-family:cursive;color:white;
	border:2px solid black;border-radius:20px;
	box-shadow:2px 2px silver;
	background:linear-gradient(45deg,cyan,#07bb07);
}
.lcv{
	background:linear-gradient(45deg,cyan,#07bb07);
	width:400px;height:50px;
	font-size:30px;font-family:cursive;color:white;
	border:2px solid black;border-radius:20px;
	box-shadow:2px 2px silver;
}
.epr_img{
	width:320px;
}
.cell{
	width:450px;
}
.cell-m{
	width:450px;
}
.cell_wall{
	width:300px;
}
#card{
	box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
	border:1px solid silver;width:90%;
}