body{
	background-color:white;
}
html{overflow-x:hidden;}
p{
	font-size:20px;
}
img{
	width:400px;
}
.title{
	background:linear-gradient(45deg,cyan,#0080ff);
	width:350px;height:50px;
	font-size:30px;font-family:cursive;color:white;
	border:2px solid black;border-radius:20px;
	box-shadow:2px 2px silver;
}
#srch{
	width:250px;height:30px;
	border-radius:20px;
}
.btn{
	width:30px;
	position:relative;
	top:10px;left:3px;
}
.sbox{
	background-color:#00ff00;
	width:310px;border-radius:50px;height:45px;border:2px solid black;
	background:linear-gradient(45deg,cyan,#0080ff);
	box-shadow:2px 2px silver;
}
.light_dark{
	width:50px;height:50px;border-radius:20px;
	border:3px solid silver;background:linear-gradient(45deg,cyan,#0080ff);
	position:relative;
	top:-5px;
}
.name{
	background:linear-gradient(45deg,cyan,#0080ff);
	width:300px;height:50px;
	font-size:30px;font-family:cursive;color:white;
	border:2px solid black;border-radius:20px;
	box-shadow:2px 2px silver;
}
.epr{
	background:linear-gradient(45deg,cyan,#0080ff);
	width:400px;height:50px;
	font-size:30px;font-family:cursive;color:white;
	border:2px solid black;border-radius:20px;
	box-shadow:2px 2px silver;
}
.epr_img{
	width:320px;
}
.cell{
	width:450px;
}
.cell-m{
	width:350px;
}
.cell_wall{
	width:300px;
}
#card{
	box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
	border:1px solid silver;width:90%;
}