body{
	margin:0px;
	overflow-x:hidden;
	background-repeat:none;background-size: cover;
	color:black;
}
a{
	text-decoration:none;
	color:white;
}
a:hover{
	color:cyan;
}
.apps{
	width:150px;
	border-radius:40px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	transition:linear 0.1s;
}
.apps:hover{
	box-shadow:10px 10px 5px rgba(0,0,0,0.3);
}
.libs{
	display: flex;
	width:1072px;
}
@media (orientation:portrait){
.libs{
	display:block;
	width:100%;
}
}
.libFrame{
		width:345px;height:200px;
		border:none;
		background-color:white;
		border-radius:20px;
}
.libLink{
	background:#ff0066;
	width:352px;
	border-radius:20px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.3);
	transition:linear 0.1s;
}
.libLink:hover{
	box-shadow:15px 15px 10px rgba(225,0,0,0.3);
}
.libTxt{
	color:white;font-family:cursive;
	text-shadow:2px 2px#ff0066;
	width:350px;height:50px;
	border-radius:20px;
}

.amidev{
	position:relative;
	color:white;font-family:cursive;font-size:40px;
	border:3px solid grey;
	border-radius:20px;
	background:#3d3d3d;
	text-shadow:3px 3px #ff0066;
}
@media (orientation:portrait){
.amidev{
	font-size:30px;
	text-shadow:2px 2px #ff0066;
}
}
.aboutme{
	background-color:#3d3d3d;
	color:white;position: absolute;
	width:100%;
}
.my_youtube{
	border-radius:50%;width:300px;height:300px;
	border:5px solid orangered;
}
.my_youtube:hover{
	box-shadow:-5px -5px 10px rgba(0,0,0,0.3),
	5px 5px 10px rgba(0,0,0,0.3);
}
@media (orientation:portrait){
.my_youtube{
	width:200px;height:200px;
}
}


.code{
    border:3px solid silver;

}