body{
    margin:0px;
    overflow-x:hidden;
    background-image:url("nuclie.jpg");
    background-size:cover;
    background-repeat:none;
}
@media(orientation:portrait){
body{
    background-image:url("nuclie-m.jpg");
}
}
.title{
	background:linear-gradient(45deg,cyan,rgb(0, 174, 255));
	width:100%;height:70px;
	font-size:30px;font-family:cursive;color:white;
	border:none;
    box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
}
.start{
    width:100px;height:100px;border-radius:50%;font-size:20px;color:white;
    background-color:silver;
    box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
    position: relative;top:200px;
    border:4px solid silver;
}
.spin{
    transform: rotateZ(360deg);
    box-shadow:none;border-radius:20px;
    width:120px;height:120px;
    transition:linear 1s;
}
@keyframes blip{
0%{
    color:white;
}
50%{
    color:yellow;
}
100%{
    color:white;
}
}
.clickto{
    color:white;font-size:15px;
    animation:blip 1s infinite linear;
}
.cright{
    position:absolute;bottom:0px;left:0px;
    color:white;
}