body{
	font-family:cursive;
}
input{
	height:30px;
	width:175px;
}
.density{
	height:190px;
}
#reload{
	position:absolute;
	bottom:15px;right:10px;
	width:70px;border-radius:50%;
}
#link{
	border:4px solid orange;
	width:300px;
	border-radius:10px;
}
button{
	border-radius:10px;
	background:linear-gradient(-45deg,#ff0066,orange);
	width:175px;height:50px;
	cursor:pointer;
	box-shadow:0 15px 30px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
	color:white;
}
input{
	border-radius:10px; 
}